@page
@model FizzBuzzWeb.Pages.FizzBuzzModel
@{
    ViewData["Title"] = "FizzBuzz";
}
<h1>FizzBuzz</h1>
@if (Model.FizzBuzz != null)
{
    <p>
        Your number:
        @Model.FizzBuzz.Your_Number
    </p>
    <p>
        Date and time:
        @DateTime.Now
    </p>
    <p>
        @{String result = "";
            @if (Model.FizzBuzz.Your_Number % 3 == 0)
            {
                result += "Fizz";
            }
            @if (Model.FizzBuzz.Your_Number % 5 == 0)
            {
                result += "Buzz";
            }
            @if (Model.FizzBuzz.Your_Number % 3 != 0 && Model.FizzBuzz.Your_Number % 5 != 0)
            {
                <span>Your number is not Fizz, Buzz or Fizzbuzz</span>
            }
            <span>Result: @result</span>
        }
    </p>
}