@page
@model FizzBuzzWeb.Pages.FizzBuzzModel
@{
    ViewData["Title"] = "FizzBuzz";
}

<h1>FizzBuzz</h1>
@if (Model.FizzBuzz != null && ModelState.IsValid)
{
    <p>
        Your number:
        @Model.FizzBuzz.Your_Number
    </p>
    <p>
        Date and time:
        @DateTime.Now
    </p>
    <p>
        @Model.FizzBuzz.FizzBuzzApp()
        <span>Result: @Model.FizzBuzz.result</span>
    </p>
}